/* Aqsi cube style */

#MainScreenWindow {
    height: 480px;
    width: 320px;
    background-color: white;
 }
 
#MainScreenWindow[cssClass~="mainScreenInWaitCardMode"] {
    background-color: white;
    border-image: url("images/mode1.jpg") 0 0 0 0 stretch stretch;
 }

#MainScreenWindow[cssClass~="mainScreenInTextWithSingleBtnMode"] > #mainScreen1stButton {
    color: white;
    background-color: #3daee9;
    height: 50px;
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16pt;
    font-weight: normal;
    font-family: "Coolvetica Condensed Rg";
 }

#MainScreenWindow[cssClass~="mainScreenInWaitCardMode"][cssClass~="permQrPay"] > *[cssClass~="mainScreenInWaitCardModeQrPayButton"] {
    color: white;
    background-color: #3daee9;
    height: 50px;
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16pt;
    font-weight: normal;
    font-family: "Coolvetica Condensed Rg";
 }

#mainScreenText {
    font-size: 12pt;
    font-weight: normal;
    font-family: "Montserrat";
 }

#waitCardQrWidget {
    background-color: white;
    color: black;
}

#qrWidget {
    background-color: white;
    color: black;
}

#mainScreen1stButton {
    color: white;
    background-color: #3daee9;
    height: 50px;
    width: 160px; 
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16pt;
    font-weight: normal;
    font-family: "Coolvetica Condensed Rg";
 }
 
#mainScreen2ndButton {
    color: white;
    background-color: #3daee9;
    height: 50px;
    width: 160px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16pt;
    font-weight: normal;
    font-family: "Coolvetica Condensed Rg";
 }

#YesNoDialogWindow {
    height: 480px;
    width: 320px;
 }

#yesNoDialogLabel {
    color: black;
    font-size: 14pt;
    font-weight: normal;
    font-family: "Montserrat";
 }

#yesButton {
    color: black;
    font-size: 14pt;
    font-weight: normal;
    font-family: "Montserrat";
 }

#noButton {
    color: black;
    font-size: 14pt;
    font-weight: normal;
    font-family: "Montserrat";
 }

#MessageDialogWindow {
    height: 480px;
    width: 320px;
 }

#messageDialogLabel {
    color: black;
    font-size: 14pt;
    font-weight: normal;
    font-family: "Montserrat";
 }

*[cssClass~="bkgndNothing"] {
    background-color: white;
}

*[cssClass~="bkgndBlue"] {
    background-color: blue;
}

*[cssClass~="bkgndGreen"] {
    background-color: green;
}

*[cssClass~="bkgndRed"] {
    background-color: red;
}

*[cssClass~="bkgndYellow"] {
    background-color: yellow;
}
