[Unit]
Description=btt_downloader for install UTT software

[Service]
WorkingDirectory=/data/usr/home/btt_downloader
ExecStart=/usr/bin/python3 /data/usr/home/btt_downloader/btt_downloader.py -p cube
Type=oneshot

[Install]
WantedBy=default.target
